FORMAT: 1A
HOST: http://www.cloud3edu.com

# cloudedu
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Notes(Sample)
Notes related resources of the **Notes API**

## Notes Collection [/notes]
### List all Notes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Jogging in park"
        }, {
          "id": 2, "title": "Pick-up posters from post-office"
        }]

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204

# Group Qiniu
Qiniu related apis

## Upload token [/qiniu/uptoken]
### Get a upload token [GET]
+ Response 200 (application/json)
    + Body
    
            { "random": "l2o5rem8", "uptoken": "asdfzxverqwerdadsfadsf" }

## Private Download token [/qiniu/signedUrl/{id}]

+ Parameters
    + id (required, string, ``)
    
### Get a signed url [GET]
+ Response 200 (application/json)

    + Body

            "some/signed/url"

    

